<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="false"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 140, height: 50, alt: 'SUN Logo'}"
  
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  
  <ul class="nav navbar-nav ml-auto"> 
   
    <li class="nav-item dropdown" dropdown placement="bottom right">
        <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a> 
          <!-- <img src="assets/img/buidling.png" alt="Skyline" height="50" width="45"> -->
          <!-- [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'SUN Logo'}" -->
          
     
    </li>
  </ul>
  
</app-header>
<br/>
<br/>
<br/>
<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form novalidate [formGroup]="SchoolForm" >
                  <h2>Create School</h2>                
                  <div class="input-group mb-3" >
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [ngClass]="{'is-invalid':f.schoolName.errors}" type="text"  formControlName="schoolName" class="form-control"  placeholder="Kindly enter the School Name" autocomplete="schoolName" required>
                </div>
                 
  
                </form>
              </div>
              <div class="card-footer">
                              
                    <div class="pull-right">
          <button type="submit" [disabled]="(SchoolForm.invalid)" (click)="saveResult(SchoolForm)" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Submit</button>
                        <!-- <button  (click)="displaySignup = true; displayOtp = false; displayResendOtp = false;" type="reset" class="btn btn-sm btn-dark"><i class="angle-double-right"></i> Cancel</button> -->
  
                </div>
                
            </div> 
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>














