<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 140, height: 50, alt: 'SUN Logo'}"

  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    
  </ul>
  <ul class="nav navbar-nav ml-auto">
   
    <li class="nav-item dropdown" dropdown placement="bottom right">
     
          <img src="assets/img/buidling.png" alt="Skyline" height="50" width="45">
          <!-- [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: 'SUN Logo'}" -->
          
     
    </li>
  </ul>
  
</app-header>

<br />
<br />



<div class="app-body"   >
        <main class="main d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div>
             
                                    <div>
                                           
                                            <!-- <H1 class="text-center"> </H1>
                                            <br />
                                            <h2 class="text-center"> The Aptitude Test is use to evaluate your Logical and Critical reasoning.</h2>
                                            <br/>
                                            <h3 class="text-center"> Skyline students are required to click on the Skyline student link to take their test.</h3>
                                            <br/>
                                            <h3 class="text-center"> External students are required to click on the Prospective student link to take their test.</h3>
                                            <br/>
                                            <h3 class="text-center"> Good Luck!!!</h3>
                                            <br/>
                                            <br/> -->

                                            <h3> <a class="nav nav-tabs nav-justified" [routerLink]="['/signup']"> &nbsp;Prospective Student</a></h3>
                                            <br/>
                                            <br/>

                                            <h3><a class="nav nav-tabs nav-justified" [routerLink]="['/login']"> &nbsp;Skyline Student</a></h3>

                                            

                                   </div>
                              
                            
                        
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

